.btn{
    background-color: blue;
    color:red;
    padding:10px 20px;
    border-radius: 4px;
}

li{
    background-color: tan;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 3px;
}